*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .formater {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
}
.navbar .formater .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar .formater .header .nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
}
.navbar .formater .header .nav .dropdown {
  float: left;
  overflow: hidden;
}
.navbar .formater .header .nav .dropdown .dropbtn {
  border: none;
  outline: none;
  color: #363838;
  padding: 8px 24px;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar .formater .header .nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar .formater .header .nav .dropdown .dropdown-content .active {
  background-color: #2C2C96;
  color: #ffffff;
}
.navbar .formater .header .nav .dropdown .dropdown-content .drop-pad {
  margin: 8px 0;
  font-size: 14px;
}
.navbar .formater .header .nav .dropdown .dropdown-content a {
  float: none;
  color: #363838;
  padding: 10px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar .formater .header .nav .dropdown .dropdown-content a:hover {
  background-color: #c9ddf3;
  color: #363838;
}
.navbar .formater .header .nav .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .formater .header .nav .item {
  padding: 8px 24px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #5c5d5f;
}
.navbar .formater .header .nav .item .active {
  color: #0085e4;
}
.navbar .formater .header .nav .item a {
  text-decoration: none;
  color: #5c5d5f;
}
.navbar .formater .header .nav .item a:after {
  display: block;
  content: "";
  border-bottom: solid 1px #5c5d5f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.navbar .formater .header .nav .item a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.navbar .formater .header .nav .item a.anim:after {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.navbar .formater .header .nav .arrow-down {
  border: solid #5c5d5f;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.navbar .formater .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .formater .submit a {
  text-decoration: none;
  color: #5c5d5f;
}
.navbar .formater .submit a:after {
  display: block;
  content: "";
  border-bottom: solid 1px #5c5d5f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.navbar .formater .submit a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.navbar .formater .submit a.signin:after {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.navbar .formater .submit .btn {
  background-color: #2C2C96;
  padding: 16px 24px;
  border-radius: 5px;
  margin: 8px 24px;
}
.navbar .formater .submit .btn .signup {
  color: #ffffff;
}
.navbar .formater .submit .btn:hover {
  background-color: #3838bd;
}

.intro {
  height: 90vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro .intro-container {
  width: 70%;
  margin: 0 auto;
  padding: 82px 0;
}
.intro .intro-container .banner {
  padding: 10px 0;
}
.intro .intro-container .banner img {
  padding: 10px;
  margin: 40px 0;
}
.intro .intro-container .section-splitter {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.intro .intro-container .section-splitter .intro-holder {
  padding: 0 60px 0 0;
  height: 100%;
}
.intro .intro-container .section-splitter .intro-holder .intro-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-section-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  color: #363838;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-description {
  font-family: Arial, Helvetica, sans-serif;
  color: #363838;
  font-size: 20px;
  padding: 10px 0;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 0;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-btns .intro-btn-primary {
  background-color: #2C2C96;
  padding: 16px 24px;
  border-radius: 5px;
  margin: 8px 8px 8px 0;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-btns .intro-btn-primary .btn-pr {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-btns .intro-btn-primary:hover {
  background-color: #3838bd;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-btns .btn-se {
  padding: 16px 24px;
  border: solid 1px #2C2C96;
  border-radius: 5px;
  text-decoration: none;
  color: #2C2C96;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px 0 8px 8px;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-btns .btn-se:hover {
  border: 2px solid #2C2C96;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-footer .works-with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-footer .works-with .title-works {
  font-size: 16px;
  color: #363838;
  margin: 0 5px;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-footer .runs-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 40px;
}
.intro .intro-container .section-splitter .intro-holder .intro-title .intro-footer .runs-on .title-runs {
  font-size: 16px;
  color: #363838;
  margin: 0 5px;
}
.intro .intro-container .section-splitter .img-holder {
  padding-bottom: 100px;
}
.intro .intro-container .section-splitter .img-holder img {
  -o-object-fit: cover;
     object-fit: cover;
}

.brand-logos {
  background-color: #d5f3ff;
  height: 285px;
  width: 100%;
}
.brand-logos .logo-container {
  padding: 80px 0;
}
.brand-logos .logo-container .brand-logos-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brand-logos .logo-container .brand-logos-holder .title-logo {
  padding: 20px 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: 700;
}
.brand-logos .logo-container .brand-logos-holder .logos-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}
.brand-logos .logo-container .brand-logos-holder .logos-images img {
  padding: 0 30px;
}

.section-one {
  height: 60vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-one .one-holder {
  width: 70%;
  margin: 0 auto;
}
.section-one .one-holder .one-container {
  padding: 70px 0;
}
.section-one .one-holder .one-container .text-image-block {
  padding: 70px 0;
}
.section-one .one-holder .one-container .text-image-block .text-image-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-one .one-holder .one-container .text-image-block .text-image-holder .text-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  width: 400px;
}
.section-one .one-holder .one-container .text-image-block .text-image-holder .text-desc .one-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-top: 20px;
  color: #363838;
}
.section-one .one-holder .one-container .text-image-block .text-image-holder .text-desc .one-par {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #363838;
}
.section-one .one-holder .one-container .text-image-block .text-image-holder .text-desc a {
  text-decoration: none;
  color: #0085E6;
  font-size: 18px;
}
.section-one .one-holder .one-container .text-image-block .text-image-holder .text-desc a .arrow-right {
  border: solid #0085E6;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.section-one .one-holder .one-container .text-image-block .text-image-holder img {
  padding-right: 110px;
}

.section-two {
  height: 60vh;
  background-color: #d5f3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-two .section-two-holder {
  height: inherit;
  width: 70%;
  margin: 0 auto;
}
.section-two .section-two-holder .two-container {
  height: inherit;
}
.section-two .section-two-holder .two-container .text-image-block {
  height: inherit;
}
.section-two .section-two-holder .two-container .text-image-block .text-image-holder {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-two .section-two-holder .two-container .text-image-block .text-image-holder img {
  max-width: 50%;
  height: auto;
  padding-bottom: 50px;
}
.section-two .section-two-holder .two-container .text-image-block .text-image-holder .text-desc {
  padding: 0 0 0 170px;
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-two .section-two-holder .two-container .text-image-block .text-image-holder .text-desc .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-two .section-two-holder .two-container .text-image-block .text-image-holder .text-desc .text .two-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #363838;
  margin: 20px 0;
}
.section-two .section-two-holder .two-container .text-image-block .text-image-holder .text-desc .text .two-par {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #363838;
  margin: 20px 0;
}
.section-two .section-two-holder .two-container .text-image-block .text-image-holder .text-desc .text a {
  text-decoration: none;
  color: #0085E6;
  font-size: 18px;
  padding-top: 40px;
}
.section-two .section-two-holder .two-container .text-image-block .text-image-holder .text-desc .text a .arrow-right {
  border: solid #0085E6;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.section-three {
  height: 60vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-three .section-three-holder {
  height: inherit;
  width: 70%;
  margin: 0 auto;
}
.section-three .section-three-holder .three-container {
  height: inherit;
}
.section-three .section-three-holder .three-container .text-image-block {
  height: inherit;
}
.section-three .section-three-holder .three-container .text-image-block .text-image-holder {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-three .section-three-holder .three-container .text-image-block .text-image-holder .text-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}
.section-three .section-three-holder .three-container .text-image-block .text-image-holder .text-desc .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 100px;
}
.section-three .section-three-holder .three-container .text-image-block .text-image-holder .text-desc .text .two-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #363838;
  margin: 20px 0;
}
.section-three .section-three-holder .three-container .text-image-block .text-image-holder .text-desc .text .two-par {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #363838;
  padding-right: 110px;
  margin: 20px 0;
}
.section-three .section-three-holder .three-container .text-image-block .text-image-holder .text-desc .text a {
  text-decoration: none;
  color: #0085E6;
  font-size: 18px;
  padding-top: 40px;
}
.section-three .section-three-holder .three-container .text-image-block .text-image-holder .text-desc .text a .arrow-right {
  border: solid #0085E6;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.section-three .section-three-holder .three-container .text-image-block .text-image-holder img {
  padding: 120px 30px;
  width: 60%;
  height: auto;
}

.section-four {
  height: 60vh;
  background-color: #a4e5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-four .section-four-holder {
  height: inherit;
  width: 70%;
  margin: 0 auto;
}
.section-four .section-four-holder .four-container {
  height: inherit;
}
.section-four .section-four-holder .four-container .review {
  height: inherit;
}
.section-four .section-four-holder .four-container .review .container-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
}
.section-four .section-four-holder .four-container .review .container-review .text-heading {
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #5c5d5f;
  padding-bottom: 90px;
}
.section-four .section-four-holder .four-container .review .container-review .review-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-four .section-four-holder .four-container .review .container-review .review-content .review-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: black;
  font-weight: 700;
  width: 75%;
  padding-bottom: 30px;
}
.section-four .section-four-holder .four-container .review .container-review .review-content .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}
.section-four .section-four-holder .four-container .review .container-review .review-content .desc .icon {
  padding: 0 20px;
}
.section-four .section-four-holder .four-container .review .container-review .review-content .desc .icon img {
  width: 50px;
  height: 50px;
}
.section-four .section-four-holder .four-container .review .container-review .review-content .desc .name-job .name {
  padding: 0 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.section-four .section-four-holder .four-container .review .container-review .review-content .desc .name-job .job .par {
  font-family: Arial, Helvetica, sans-serif;
  color: #363838;
  font-size: 12px;
  font-weight: 400;
}

.footer {
  height: auto;
  background-color: #ffffff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer-container {
  height: inherit;
  width: 70%;
  margin: 0 auto;
}
.footer .footer-container .footer-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 70px 0 0 0;
}
.footer .footer-container .footer-holder .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer-container .footer-holder .lists .list {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0 35px;
  font-weight: 700;
  padding-bottom: 50px;
}
.footer .footer-container .footer-holder .lists .list .prvi {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 50px;
}
.footer .footer-container .footer-holder .lists .list li {
  font-size: 14px;
  padding: 15px 0;
  font-weight: 200;
}
.footer .footer-container .footer-holder .lists .list li a {
  text-decoration: none;
  color: #363838;
}
.footer .footer-container .footer-holder .lists .list li a:hover {
  color: #0085E6;
}
.footer .footer-container .footer-holder .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 27%;
  margin: 0 0 0 30px;
}
.footer .footer-container .footer-holder .newsletter .text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #363838;
  padding: 30px 0;
}
.footer .footer-container .footer-holder .newsletter .lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer-container .footer-links {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.last {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #5c5d5f;
}
.last .last-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  width: 70%;
  margin: 0 auto;
}
.last .last-container .last-thing {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 80px;
}
.last .last-container .last-thing .terms a {
  text-decoration: none;
  color: #363838;
  font-size: 14px;
  padding: 0 15px;
}
.last .last-container .last-thing .par {
  color: #363838;
  font-size: 14px;
  padding: 0 15px;
}
.last .last-container .last-thing .par a {
  text-decoration: none;
  color: #0085E6;
}

.content {
  margin-top: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content .container .list {
  width: 30%;
  margin-top: 33vh;
}
.content .container .list ul {
  list-style: none;
  margin-bottom: 60px;
}
.content .container .list .bold {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 16px;
}
.content .container .list .indent {
  margin-left: 20px;
}
.content .container .list li {
  margin-bottom: 15px;
}
.content .container .all-content {
  width: 75%;
}
.content .container .all-content .holder {
  height: 33vh;
}
.content .container .all-content .holder h1 {
  font-size: 58px;
  font-family: Arial, Helvetica, sans-serif;
  color: #363838;
  padding: 40px 0;
}
.content .container .all-content .holder p {
  font-size: 20px;
  color: #363838;
  font-family: Arial, Helvetica, sans-serif;
  width: 78%;
  letter-spacing: 1px;
  line-height: 1.4em;
}
.content .container .all-content .content-holder {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 70px;
}
.content .container .all-content .content-holder .main-img {
  width: 50%;
  height: auto;
}
.content .container .all-content .content-holder .content-container {
  padding-left: 30px;
  width: 50%;
  height: 100%;
}
.content .container .all-content .content-holder .content-container h1 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: #363838;
  padding-bottom: 15px;
}
.content .container .all-content .content-holder .content-container p {
  font-size: 14px;
  color: #363838;
  font-family: Arial, Helvetica, sans-serif;
  width: 78%;
  letter-spacing: 1px;
  line-height: 1.4em;
  padding-bottom: 20px;
}
.content .container .all-content .content-holder .content-container a {
  font-size: 18px;
  text-decoration: none;
  color: #0085e4;
}

.top-heading {
  margin-top: 80px;
  height: 50vh;
  background-color: #f9fbfe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-heading .container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.top-heading .container h1 {
  width: 80%;
  font-size: 72px;
}
.top-heading .container h6 {
  padding-top: 30px;
  width: 60%;
  font-size: 26px;
  font-weight: 400;
}

.pricing-chose {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing-chose .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90vh;
  padding-top: 20px;
}
.pricing-chose .container .explanation {
  width: 40%;
}
.pricing-chose .container .explanation h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: #363838;
  padding: 10px;
}
.pricing-chose .container .explanation p {
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #363838;
}
.pricing-chose .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 100%;
}
.pricing-chose .container .cards .card-content {
  height: 100%;
  margin: 15px;
  width: 320px;
  height: 450px;
}
.pricing-chose .container .cards .card-content .top {
  border: 1px solid #e9edf2;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}
.pricing-chose .container .cards .card-content .top .price {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin-top: 64px;
}
.pricing-chose .container .cards .card-content .top .top-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}
.pricing-chose .container .cards .card-content .top .top-price h1 {
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
}
.pricing-chose .container .cards .card-content .top .top-price h1 span {
  color: #5c5d5f;
}
.pricing-chose .container .cards .card-content .bot {
  border: 1px solid #e9edf2;
  border-radius: 0 0 8px 8px;
}
.pricing-chose .container .cards .card-content .bot .btn-under {
  background-color: transparent;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}
.pricing-chose .container .cards .card-content .bot .btn-under .center {
  text-decoration: none;
}
.pricing-chose .container .cards .card-content .bot .btn-primary {
  margin: 10px 30px;
  background-color: #2C2C96;
  padding: 20px 10px;
  border-radius: 8px;
  text-align: center;
}
.pricing-chose .container .cards .card-content .bot .btn-primary .btn-pr {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.pricing-chose .container .cards .card-content .bot .btn-primary:hover {
  background-color: #3838bd;
}
.pricing-chose .container .cards .card-content .bot .btn-secondary {
  margin: 30px 30px;
  background-color: #ffffff;
  border: 1px solid #0085E6;
  padding: 20px 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 90px;
}
.pricing-chose .container .cards .card-content .bot .btn-secondary .btn-sec {
  text-decoration: none;
  color: #0085E6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.pricing-chose .container .cards .card-content .bot .btn-secondary:hover {
  border: 2px solid #0085E6;
}
.pricing-chose .container .cards .card-content .bot ul {
  list-style: none;
  padding: 10px;
}
.pricing-chose .container .cards .card-content .bot ul li {
  padding: 5px;
}
.pricing-chose .container .cards .card-content .bot ul li .bold {
  font-weight: 900;
}

.features-list {
  width: 100%;
  height: 130vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features-list .fl-container {
  width: 70%;
  margin: 0 auto;
  height: inherit;
}
.features-list .fl-container .heading h1 {
  font-size: 46px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 0;
}
.features-list .fl-container .fl-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2em 1fr 2em 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
.features-list .fl-container .fl-holder .fl-content {
  border: 1px solid #e9edf2;
  border-radius: 8px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(480px, auto);
}
.features-list .fl-container .fl-holder .fl-content ul {
  padding: 40px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
.features-list .fl-container .fl-holder .fl-content ul .heading {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
}
.features-list .fl-container .fl-holder .fl-content ul .item {
  padding: 10px;
  font-size: 16px;
  color: #363838;
}

.acordian {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.acordian .acordian-container {
  width: 70%;
  margin: 0 auto;
  height: inherit;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 5fr;
  grid-template-columns: 4fr 5fr;
}
.acordian .acordian-container .heading {
  font-family: Arial, Helvetica, sans-serif;
}
.acordian .acordian-container .heading h1 {
  font-size: 36px;
  color: #363838;
}
.acordian .acordian-container .heading p {
  font-size: 22px;
  padding: 30px 0;
  color: #363838;
}
.acordian .acordian-container .heading a {
  font-size: 22px;
  text-decoration: none;
  color: #0085E6;
}
.acordian .acordian-container .accordion {
  background-color: #ffffff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 22px;
  border-top: solid 1px #e9edf2;
  border-bottom: solid 1px #e9edf2;
}
.acordian .acordian-container .accordion:hover {
  padding-left: 30px;
}
.acordian .acordian-container button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 20px;
}
.acordian .acordian-container .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.acordian .acordian-container .panel p {
  margin: 15px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363838;
  font-weight: 200;
}

.entrprise-one {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.entrprise-one .container {
  width: 70%;
  margin: 0 auto;
  height: inherit;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.entrprise-one .container .head-jpg {
  text-align: center;
}
.entrprise-one .container .head-jpg h1 {
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 58px;
  margin: auto;
  margin-bottom: 40px;
}
.entrprise-one .container .heads {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4em 1fr 4em 1fr 4em 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4em;
  grid-auto-rows: auto;
  margin-bottom: 60px;
}
.entrprise-one .container .heads .head {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
}
.entrprise-one .container .heads .head h1 {
  font-size: 28px;
  padding-bottom: 20px;
}
.entrprise-one .container .heads .head p {
  font-size: 16px;
  line-height: 2em;
  font-weight: 100 !important;
}

.enterpirse-two {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  text-align: center;
}
.enterpirse-two .container {
  height: inherit;
  background-color: #a4e5ff;
  padding: 110px 0;
  text-align: center;
}
.enterpirse-two .container h1 {
  width: 60%;
  margin: auto;
  font-size: 48px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.enterpirse-two .container .button {
  background-color: #2C2C96;
  margin: auto;
  width: 200px;
  padding: 20px 40px;
  border-radius: 8px;
}
.enterpirse-two .container .button a {
  text-decoration: none;
  color: #ffffff;
}
.enterpirse-two .container .button:hover {
  background-color: #3838bd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.enterprise-three {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.enterprise-three .container {
  width: 70%;
  margin: 0 auto;
  height: inherit;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2em 5fr;
  grid-template-columns: 3fr 5fr;
  gap: 2em;
}
.enterprise-three .container .heading {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}
.enterprise-three .container .heading h1 {
  font-size: 54px;
  margin-bottom: 20px;
}
.enterprise-three .container .heading p {
  font-size: 22px;
  margin-bottom: 20px;
  width: 80%;
  line-height: 1.6em;
}
.enterprise-three .container .heading .button {
  background-color: #2C2C96;
  margin: auto;
  width: 210px;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  margin: 0;
}
.enterprise-three .container .heading .button a {
  text-decoration: none;
  color: #ffffff;
}
.enterprise-three .container .heading .button:hover {
  background-color: #3838bd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.enterprise-three .container .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3em 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 350px;
  gap: 3em;
  margin-bottom: 60px;
}
.enterprise-three .container .cards .card {
  font-family: Arial, Helvetica, sans-serif;
}
.enterprise-three .container .cards .card img {
  height: 140px;
  width: auto;
}
.enterprise-three .container .cards .card h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #363838;
}
.enterprise-three .container .cards .card p {
  font-size: 18px;
  color: #363838;
}

.enterprise-four {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.enterprise-four .container {
  width: 70%;
  margin: 0 auto;
  height: inherit;
  margin-top: 60px;
  background-color: #a4e5ff;
  margin: auto;
}
.enterprise-four .container .holder {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-align: center;
  margin: 60px 0;
}
.enterprise-four .container .holder h1 {
  width: 65%;
  margin: 30px auto;
  font-size: 48px;
}
.enterprise-four .container .holder .button {
  background-color: #2C2C96;
  margin: auto;
  width: 210px;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
}
.enterprise-four .container .holder .button a {
  text-decoration: none;
  color: #ffffff;
}
.enterprise-four .container .holder .button:hover {
  background-color: #3838bd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.agile-teams-one {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 70px;
}
.agile-teams-one .agile-container {
  width: 70%;
  margin: 0 auto;
  height: inherit;
  margin-top: 60px;
  margin: auto;
}
.agile-teams-one .agile-container .link {
  position: relative;
  right: -750px;
  bottom: 20px;
  text-decoration: none;
  color: #0085E6;
  font-size: 18px;
}
.agile-teams-one .agile-container .holder {
  margin-top: 100px;
}
.agile-teams-one .agile-container .holder .heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  width: 30%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.agile-teams-one .agile-container .holder .heading h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.agile-teams-one .agile-container .holder .heading p {
  font-size: 22px;
  width: 85%;
}
.agile-teams-one .agile-container .holder .control {
  width: 100%;
}
.agile-teams-one .agile-container .holder .control .content {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3em 1fr;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 3em;
  margin: 50px auto;
}
.agile-teams-one .agile-container .holder .control .content img {
  margin: auto;
}
.agile-teams-one .agile-container .holder .control .content .explain {
  margin: auto;
}
.agile-teams-one .agile-container .holder .control .content .texts {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 300px;
}
.agile-teams-one .agile-container .holder .control .content .texts .text {
  margin: 20px auto;
  border-left: solid 1px #e9edf2;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.agile-teams-one .agile-container .holder .control .content .texts .text h1 {
  font-size: 28px;
  margin-bottom: 5px;
}
.agile-teams-one .agile-container .holder .control .content .texts .text p {
  line-height: 1.3em;
}

.agile-teams {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin: 80px auto;
}
.agile-teams .container {
  width: 70%;
  margin: 0 auto;
  height: inherit;
  margin: 60px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3em 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  margin: auto;
}
.agile-teams .container .center h1 {
  margin-top: 200px;
  padding: 10px 0 !important;
}
.agile-teams .container .center p {
  padding: 10px 0 !important;
  margin: 0;
}
.agile-teams .container .text {
  margin-top: 90px;
  font-family: Arial, Helvetica, sans-serif;
}
.agile-teams .container .text h1 {
  width: 70%;
  font-size: 46px;
  padding-bottom: 30px;
}
.agile-teams .container .text img {
  margin: 0;
}
.agile-teams .container .text p {
  width: 70%;
  padding: 10px;
  line-height: 1.4em;
  letter-spacing: 2px;
}
.agile-teams .container img {
  margin-top: 90px;
}

.agile-teams-two {
  width: 100%;
  height: auto;
  background-color: #f9fbfe;
  margin: 80px auto;
}
.agile-teams-two .container {
  width: 70%;
  height: inherit;
  margin: 60px auto;
}
.agile-teams-two .container .heading {
  text-align: left;
  padding: 100px 0;
}
.agile-teams-two .container .heading h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 54px;
}
.agile-teams-two .container .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3em 1fr 3em 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  grid-auto-rows: 600px;
}
.agile-teams-two .container .cards .card {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.agile-teams-two .container .cards .card img {
  height: 300px;
  width: auto;
}
.agile-teams-two .container .cards .card h3 {
  margin: 10px 0;
}
.agile-teams-two .container .cards .card h1 {
  margin: 20px 0;
  font-size: 26px;
  width: 80%;
}
.agile-teams-two .container .cards .card .button {
  background-color: #2C2C96;
  width: 200px;
  padding: 20px 20px;
  border-radius: 8px;
  text-align: center;
}
.agile-teams-two .container .cards .card .button a {
  text-decoration: none;
  color: #ffffff;
}
.agile-teams-two .container .cards .card .button:hover {
  background-color: #3838bd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.center-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.center-img img {
  margin: 50px 0;
}

.how_it_works {
  text-align: center;
  background-color: #ffffff;
}
.how_it_works .button {
  margin-top: 40px;
  background-color: #ffffff;
  width: 240px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #2C2C96;
}
.how_it_works .button a {
  text-decoration: none;
  color: #2C2C96;
}

.how-sect-one {
  background-color: #f3f3ff;
}
.how-sect-one .container {
  width: 70%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.how-sect-one .container h4 {
  padding-top: 60px;
}
.how-sect-one .container .content-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6em 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 6em;
  grid-auto-rows: auto;
}
.how-sect-one .container .content-holder .text-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 3em;
}
.how-sect-one .container .content-holder .text-content h3 {
  font-size: 32px;
}
.how-sect-one .container .content-holder .text-content p {
  font-size: 22px;
}
.how-sect-one .container .content-holder .text-content .control h1 {
  margin-top: 30px;
  font-size: 48px;
}
.how-sect-one .container .content-holder .text-content .control h3 {
  margin-top: 20px;
  font-size: 32px;
}
.how-sect-one .container .content-holder .text-content .control p {
  margin-top: 20px;
  font-size: 22px;
}

.bc-blue {
  margin: 0 auto;
  background-color: #d5f3ff;
}
.bc-blue .holder {
  padding-top: 60px;
  margin-top: 0 !important;
}
.bc-blue .control .content {
  margin-bottom: 0px !important;
}

.bc-pink {
  margin: 0 !important;
  background-color: #feeae5;
}
.bc-pink .holder {
  padding-top: 60px;
  margin-top: 0 !important;
}
.bc-pink .control .content {
  margin-bottom: 0px !important;
}

.bc-purple {
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e6e6f8;
}
.bc-purple .holder {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0 !important;
}
.bc-purple .stickers {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3em 1fr 3em 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  grid-auto-rows: minmax(300px, auto);
}
.bc-purple .stickers .sticker {
  padding: 20px 40px;
}

.bc-lightblue {
  background-color: #f1fbff;
}

.bc-white {
  background-color: #ffffff;
  padding-bottom: 80px;
}