$btn_color: #2C2C96;
$header_text_color: #5c5d5f;
$bckground: #ffffff;
$btntextcol: #ffffff;
$intro_text_col: #363838;
$bannercolor: #d5f3ff;
$logo_text: #000000;
$see_how_col: #0085E6;
$slider_color: #a4e5ff;
$active_color: #0085e4;
$backgr_pricing: #f9fbfe;
$border_color: #e9edf2;
$product_bc: #f3f3ff;
$howto_bc_blue: #d5f3ff;
$howto_bc_pink: #feeae5;
$howto_bc_purple: #e6e6f8;
$howto_bc_lightblue: #f1fbff;