@import "var";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: $bckground;
    font-family: Arial, Helvetica, sans-serif;

    .formater {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;

        .header {
            display: flex;
            align-items: center;
            justify-content: center;

            .nav {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 20px;

                .dropdown {
                    float: left;
                    overflow: hidden;

                    .dropbtn {
                        border: none;
                        outline: none;
                        color: $intro_text_col;
                        padding: 8px 24px;
                        font-size: 16px;
                        letter-spacing: 1px;
                        background-color: inherit;
                        font-family: inherit;
                        margin: 0;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: $bckground;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;

                        .active {
                            background-color: $btn_color;
                            color: $btntextcol;
                        }

                        .drop-pad {
                            margin: 8px 0;
                            font-size: 14px;
                        }

                        a {
                            float: none;
                            color: $intro_text_col;
                            padding: 10px 18px;
                            text-decoration: none;
                            display: block;
                            text-align: left;
                        }

                        a:hover {
                            background-color: rgb(201, 221, 243);
                            color: $intro_text_col;
                        }
                    }
                }

                .dropdown:hover {
                    .dropdown-content {
                        display: block;
                    }
                }

                .item {
                    padding: 8px 24px;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: $header_text_color;

                    .active {
                        color: $active_color;
                    }

                    a {
                        text-decoration: none;
                        color: $header_text_color;
                    }

                    a:after {
                        display: block;
                        content: "";
                        border-bottom: solid 1px $header_text_color;
                        transform: scaleX(0);
                        transition: transform 200ms ease-in-out;
                    }
                    a:hover:after {
                        transform: scaleX(1);
                    }
                    a.anim:after {
                        transform-origin: 0% 50%;
                    }
                }

                .arrow-down {
                    border: solid $header_text_color;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    margin-bottom: 2px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
        }

        .submit {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: $header_text_color;
            }

            a:after {
                display: block;
                content: "";
                border-bottom: solid 1px $header_text_color;
                transform: scaleX(0);
                transition: transform 200ms ease-in-out;
            }

            a:hover:after {
                transform: scaleX(1);
            }
            a.signin:after {
                transform-origin: 0% 50%;
            }

            .btn {
                background-color: $btn_color;
                padding: 16px 24px;
                border-radius: 5px;
                margin: 8px 24px;

                .signup {
                    color: $btntextcol;
                }
            }

            .btn:hover {
                background-color: lighten($btn_color, 10%);
            }
        }
    }
}

.intro {
    height: 90vh;
    background-color: $bckground;
    display: flex;
    justify-content: center;

    .intro-container {
        width: 70%;
        margin: 0 auto;
        padding: 82px 0;

        .banner {
            padding: 10px 0;

            img {
                padding: 10px;
                margin: 40px 0;
            }
        }

        .section-splitter {
            padding-top: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            .intro-holder {
                padding: 0 60px 0 0;
                height: 100%;

                .intro-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .intro-section-title {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 64px;
                        color: $intro_text_col;
                    }

                    .intro-description {
                        font-family: Arial, Helvetica, sans-serif;
                        color: $intro_text_col;
                        font-size: 20px;
                        padding: 10px 0;
                    }

                    .intro-btns {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 30px 0;

                        .intro-btn-primary {
                            background-color: $btn_color;
                            padding: 16px 24px;
                            border-radius: 5px;
                            margin: 8px 8px 8px 0;

                            .btn-pr {
                                text-decoration: none;
                                font-family: Arial, Helvetica, sans-serif;
                                color: $btntextcol;
                            }
                        }

                        .intro-btn-primary:hover {
                            background-color: lighten($btn_color, 10%);
                        }

                        .btn-se {
                            padding: 16px 24px;
                            border: solid 1px $btn_color;
                            border-radius: 5px;
                            text-decoration: none;
                            color: $btn_color;
                            font-family: Arial, Helvetica, sans-serif;
                            margin: 8px 0 8px 8px;
                        }

                        .btn-se:hover {
                            border: 2px solid $btn_color;
                        }
                    }

                    .intro-footer {
                        display: flex;
                        align-items: center;

                        .works-with {
                            display: flex;
                            align-items: center;
                            margin: 10px 0;

                            .title-works {
                                font-size: 16px;
                                color: $intro_text_col;
                                margin: 0 5px;
                            }
                        }

                        .runs-on {
                            display: flex;
                            align-items: center;
                            margin: 10px 40px;

                            .title-runs {
                                font-size: 16px;
                                color: $intro_text_col;
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }

            .img-holder {
                padding-bottom: 100px;

                img {
                    object-fit: cover;
                }
            }
        }
    }
}

.brand-logos {
    background-color: $bannercolor;
    height: 285px;
    width: 100%;

    .logo-container {
        padding: 80px 0;

        .brand-logos-holder {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title-logo {
                padding: 20px 0;
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
                color: $logo_text;
                font-weight: 700;
            }

            .logos-images {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 30px;

                img {
                    padding: 0 30px;
                }
            }
        }
    }
}

.section-one {
    height: 60vh;

    background-color: $bckground;
    display: flex;
    justify-content: center;

    .one-holder {
        width: 70%;
        margin: 0 auto;

        .one-container {
            padding: 70px 0;

            .text-image-block {
                padding: 70px 0;

                .text-image-holder {
                    display: flex;
                    justify-content: space-between;

                    .text-desc {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        padding: 30px 0;
                        width: 400px;

                        .one-text {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 30px;
                            padding-top: 20px;
                            color: $intro_text_col;
                        }

                        .one-par {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 18px;
                            color: $intro_text_col;
                        }

                        a {
                            text-decoration: none;
                            color: $see_how_col;
                            font-size: 18px;

                            .arrow-right {
                                border: solid $see_how_col;
                                border-width: 0 2px 2px 0;
                                display: inline-block;
                                padding: 3px;
                                margin-bottom: 2px;
                                transform: rotate(-45deg);
                                -webkit-transform: rotate(-45deg);
                            }
                        }
                    }

                    img {
                        padding-right: 110px;
                    }
                }
            }
        }
    }
}

.section-two {
    height: 60vh;
    background-color: $bannercolor;

    display: flex;
    justify-content: center;

    .section-two-holder {
        height: inherit;
        width: 70%;
        margin: 0 auto;

        .two-container {
            height: inherit;

            .text-image-block {
                height: inherit;

                .text-image-holder {
                    height: inherit;
                    display: flex;
                    justify-content: space-between;

                    img {
                        max-width: 50%;
                        height: auto;
                        padding-bottom: 50px;
                    }

                    .text-desc {
                        padding: 0 0 0 170px;
                        margin-right: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .text {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .two-text {
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 30px;
                                color: $intro_text_col;
                                margin: 20px 0;
                            }

                            .two-par {
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 18px;
                                color: $intro_text_col;
                                margin: 20px 0;
                            }

                            a {
                                text-decoration: none;
                                color: $see_how_col;
                                font-size: 18px;
                                padding-top: 40px;

                                .arrow-right {
                                    border: solid $see_how_col;
                                    border-width: 0 2px 2px 0;
                                    display: inline-block;
                                    padding: 3px;
                                    margin-bottom: 2px;
                                    transform: rotate(-45deg);
                                    -webkit-transform: rotate(-45deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-three {
    height: 60vh;
    background-color: $bckground;

    display: flex;
    justify-content: center;

    .section-three-holder {
        height: inherit;
        width: 70%;
        margin: 0 auto;

        .three-container {
            height: inherit;

            .text-image-block {
                height: inherit;

                .text-image-holder {
                    height: inherit;
                    display: flex;
                    justify-content: space-between;

                    .text-desc {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40%;

                        .text {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding-right: 100px;

                            .two-text {
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 30px;
                                color: $intro_text_col;
                                margin: 20px 0;
                            }

                            .two-par {
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 18px;
                                color: $intro_text_col;
                                padding-right: 110px;
                                margin: 20px 0;
                            }

                            a {
                                text-decoration: none;
                                color: $see_how_col;
                                font-size: 18px;
                                padding-top: 40px;

                                .arrow-right {
                                    border: solid $see_how_col;
                                    border-width: 0 2px 2px 0;
                                    display: inline-block;
                                    padding: 3px;
                                    margin-bottom: 2px;
                                    transform: rotate(-45deg);
                                    -webkit-transform: rotate(-45deg);
                                }
                            }
                        }
                    }

                    img {
                        padding: 120px 30px;
                        width: 60%;
                        height: auto;
                    }
                }
            }
        }
    }
}

.section-four {
    height: 60vh;
    background-color: $slider_color;

    display: flex;
    justify-content: center;

    .section-four-holder {
        height: inherit;
        width: 70%;
        margin: 0 auto;

        .four-container {
            height: inherit;

            .review {
                height: inherit;

                .container-review {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    height: inherit;

                    .text-heading {
                        padding-top: 100px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        color: $header_text_color;
                        padding-bottom: 90px;
                    }

                    .review-content {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        .review-text {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 34px;
                            color: black;
                            font-weight: 700;
                            width: 75%;
                            padding-bottom: 30px;
                        }

                        .desc {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-top: 30px;

                            .icon {
                                padding: 0 20px;
                                img {
                                    width: 50px;
                                    height: 50px;
                                }
                            }

                            .name-job {
                                .name {
                                    padding: 0 0 10px 0;
                                    font-family: Arial, Helvetica, sans-serif;
                                    color: black;
                                    font-weight: 700;
                                    font-size: 18px;
                                }

                                .job {
                                    .par {
                                        font-family: Arial, Helvetica, sans-serif;
                                        color: $intro_text_col;
                                        font-size: 12px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    height: auto;
    background-color: $bckground;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;

    .footer-container {
        height: inherit;
        width: 80%;
        margin: 0 auto;

        .footer-holder {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 70px 0 0 0;

            .lists {
                display: flex;
                align-items: flex-start;
                justify-content: center;

                .list {
                    list-style: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    padding: 0 35px;
                    font-weight: 700;
                    padding-bottom: 50px;

                    .prvi {
                        font-size: 14px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        padding-top: 30px;
                        padding-bottom: 50px;
                    }

                    li {
                        font-size: 14px;
                        padding: 15px 0;
                        font-weight: 200;

                        a {
                            text-decoration: none;
                            color: $intro_text_col;
                        }

                        a:hover {
                            color: $see_how_col;
                        }
                    }
                }
            }

            .newsletter {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 27%;
                margin: 0 0 0 30px;

                .text {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    color: $intro_text_col;
                    padding: 30px 0;
                }

                .lable {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .footer-links {
            width: 90%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}

.last {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $header_text_color;

    .last-container {
        display: flex;
        align-items: center;
        height: inherit;
        width: 70%;
        margin: 0 auto;

        .last-thing {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 80px;

            .terms a {
                text-decoration: none;
                color: $intro_text_col;
                font-size: 14px;
                padding: 0 15px;
            }

            .par {
                color: $intro_text_col;
                font-size: 14px;
                padding: 0 15px;

                a {
                    text-decoration: none;
                    color: $see_how_col;
                }
            }
        }
    }
}

.content {
    margin-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;

        .list {
            width: 30%;
            margin-top: 33vh;

            ul {
                list-style: none;
                margin-bottom: 60px;
            }

            .bold {
                margin-bottom: 20px;
                font-weight: 900;
                font-size: 16px;
            }

            .indent {
                margin-left: 20px;
            }

            li {
                margin-bottom: 15px;
            }
        }

        .all-content {
            width: 75%;

            .holder {
                height: 33vh;

                h1 {
                    font-size: 58px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: $intro_text_col;
                    padding: 40px 0;
                }

                p {
                    font-size: 20px;
                    color: $intro_text_col;
                    font-family: Arial, Helvetica, sans-serif;
                    width: 78%;
                    letter-spacing: 1px;
                    line-height: 1.4em;
                }
            }

            .content-holder {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                margin-bottom: 70px;

                .main-img {
                    width: 50%;
                    height: auto;
                }

                .content-container {
                    padding-left: 30px;
                    width: 50%;
                    height: 100%;

                    h1 {
                        font-size: 28px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: $intro_text_col;
                        padding-bottom: 15px;
                    }

                    p {
                        font-size: 14px;
                        color: $intro_text_col;
                        font-family: Arial, Helvetica, sans-serif;
                        width: 78%;
                        letter-spacing: 1px;
                        line-height: 1.4em;
                        padding-bottom: 20px;
                    }

                    a {
                        font-size: 18px;
                        text-decoration: none;
                        color: $active_color;
                    }
                }
            }
        }
    }
}

.top-heading {
    margin-top: 80px;
    height: 50vh;
    background-color: $backgr_pricing;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;

        h1 {
            width: 80%;
            font-size: 72px;
        }

        h6 {
            padding-top: 30px;
            width: 60%;
            font-size: 26px;
            font-weight: 400;
        }
    }
}

.pricing-chose {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        width: 100%;
        height: 90vh;
        padding-top: 20px;

        .explanation {
            width: 40%;

            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 48px;
                color: $intro_text_col;
                padding: 10px;
            }

            p {
                padding: 10px;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                color: $intro_text_col;
            }
        }

        .cards {
            display: flex;
            justify-content: center;
            width: 60%;
            height: 100%;

            .card-content {
                height: 100%;
                margin: 15px;
                width: 320px;
                height: 450px;

                .top {
                    border: 1px solid $border_color;
                    border-bottom: none;
                    border-radius: 8px 8px 0 0;

                    .price {
                        font-family: Arial, Helvetica, sans-serif;
                        padding: 20px;
                        margin-top: 64px;
                    }

                    .top-price {
                        display: flex;
                        justify-content: space-between;
                        margin: 20px;

                        h1 {
                            font-size: 34px;
                            font-family: Arial, Helvetica, sans-serif;

                            span {
                                color: $header_text_color;
                            }
                        }
                    }
                }

                .bot {
                    border: 1px solid $border_color;
                    border-radius: 0 0 8px 8px;

                    .btn-under {
                        background-color: transparent;
                        margin: 0;
                        text-align: center;
                        margin-bottom: 10px;

                        .center {
                            text-decoration: none;
                        }
                    }

                    .btn-primary {
                        margin: 10px 30px;
                        background-color: $btn_color;
                        padding: 20px 10px;
                        border-radius: 8px;
                        text-align: center;

                        .btn-pr {
                            text-align: center;
                            text-decoration: none;
                            color: $btntextcol;
                        }
                    }

                    .btn-primary:hover {
                        background-color: lighten($btn_color, 10%);
                    }

                    .btn-secondary {
                        margin: 30px 30px;
                        background-color: $bckground;
                        border: 1px solid $see_how_col;
                        padding: 20px 10px;
                        border-radius: 8px;
                        text-align: center;
                        margin-top: 90px;

                        .btn-sec {
                            text-decoration: none;
                            color: $see_how_col;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }

                    .btn-secondary:hover {
                        border: 2px solid $see_how_col;
                    }

                    ul {
                        list-style: none;
                        padding: 10px;

                        li {
                            padding: 5px;

                            .bold {
                                font-weight: 900;
                            }
                        }
                    }
                }
            }
        }
    }
}

.features-list {
    width: 100%;
    height: 130vh;
    background-color: $bckground;
    display: flex;
    justify-content: center;

    .fl-container {
        width: 70%;
        margin: 0 auto;
        height: inherit;

        .heading h1 {
            font-size: 46px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 40px 0;
        }

        .fl-holder {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2em;

            .fl-content {
                border: 1px solid $border_color;
                border-radius: 8px;
                display: grid;
                grid-auto-rows: minmax(480px, auto);

                ul {
                    padding: 40px;
                    list-style: none;
                    font-family: Arial, Helvetica, sans-serif;

                    .heading {
                        font-weight: 700;
                        font-size: 28px;
                        margin-bottom: 30px;
                    }

                    .item {
                        padding: 10px;
                        font-size: 16px;
                        color: $intro_text_col;
                    }
                }
            }
        }
    }
}

.acordian {
    width: 100%;
    height: auto;
    background-color: $bckground;
    display: flex;
    justify-content: center;

    .acordian-container {
        width: 70%;
        margin: 0 auto;
        height: inherit;
        margin-top: 60px;

        display: grid;
        grid-template-columns: 4fr 5fr;

        .heading {
            font-family: Arial, Helvetica, sans-serif;

            h1 {
                font-size: 36px;
                color: $intro_text_col;
            }

            p {
                font-size: 22px;
                padding: 30px 0;
                color: $intro_text_col;
            }

            a {
                font-size: 22px;
                text-decoration: none;
                color: $see_how_col;
            }
        }

        .accordion {
            background-color: $bckground;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.6s;

            font-size: 22px;
            border-top: solid 1px $border_color;
            border-bottom: solid 1px $border_color;
        }

        .accordion:hover {
            padding-left: 30px;
        }

        button {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            padding: 20px;
        }

        .panel {
            padding: 0 18px;
            background-color: white;
            display: none;
            overflow: hidden;

            p {
                margin: 15px 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                color: $intro_text_col;
                font-weight: 200;
            }
        }
    }
}

.entrprise-one {
    width: 100%;
    height: auto;
    background-color: $bckground;
    display: flex;
    justify-content: center;

    .container {
        width: 70%;
        margin: 0 auto;
        height: inherit;
        margin-top: 60px;

        display: grid;
        grid-template-columns: 1fr;

        .head-jpg {
            text-align: center;

            h1 {
                width: 60%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 58px;
                margin: auto;
                margin-bottom: 40px;
            }
        }

        .heads {
            margin-top: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 4em;
            grid-auto-rows: auto;
            margin-bottom: 60px;

            .head {
                font-family: Arial, Helvetica, sans-serif;
                padding: 10px 0;

                h1 {
                    font-size: 28px;
                    padding-bottom: 20px;
                }

                p {
                    font-size: 16px;
                    line-height: 2em;
                    font-weight: 100 !important;
                }
            }
        }
    }
}

.enterpirse-two {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    .container {
        height: inherit;
        background-color: $slider_color;
        padding: 110px 0;
        text-align: center;

        h1 {
            width: 60%;
            margin: auto;
            font-size: 48px;
            margin-bottom: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .button {
            background-color: $btn_color;
            margin: auto;
            width: 200px;
            padding: 20px 40px;
            border-radius: 8px;

            a {
                text-decoration: none;
                color: $bckground;
            }
        }

        .button:hover {
            background-color: lighten($btn_color, 10%);
            transition: 0.4s;
        }
    }
}

.enterprise-three {
    width: 100%;
    height: auto;
    background-color: $bckground;
    display: flex;
    justify-content: center;

    .container {
        width: 70%;
        margin: 0 auto;
        height: inherit;
        margin-top: 60px;

        display: grid;
        grid-template-columns: 3fr 5fr;
        gap: 2em;

        .heading {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 30px;

            h1 {
                font-size: 54px;
                margin-bottom: 20px;
            }

            p {
                font-size: 22px;
                margin-bottom: 20px;
                width: 80%;
                line-height: 1.6em;
            }

            .button {
                background-color: $btn_color;
                margin: auto;
                width: 210px;
                padding: 20px 30px;
                border-radius: 8px;
                text-align: center;
                margin: 0;

                a {
                    text-decoration: none;
                    color: $bckground;
                }
            }

            .button:hover {
                background-color: lighten($btn_color, 10%);
                transition: 0.4s;
            }
        }

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 350px;
            gap: 3em;

            margin-bottom: 60px;

            .card {
                font-family: Arial, Helvetica, sans-serif;

                img {
                    height: 140px;
                    width: auto;
                }

                h1 {
                    font-size: 28px;
                    margin-bottom: 20px;
                    color: $intro_text_col;
                }

                p {
                    font-size: 18px;
                    color: $intro_text_col;
                }
            }
        }
    }
}

.enterprise-four {
    width: 100%;
    height: auto;
    background-color: $bckground;
    display: flex;
    justify-content: center;

    .container {
        width: 70%;
        margin: 0 auto;
        height: inherit;
        margin-top: 60px;
        background-color: $slider_color;
        margin: auto;

        .holder {
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            text-align: center;
            margin: 60px 0;

            h1 {
                width: 65%;
                margin: 30px auto;
                font-size: 48px;
            }

            .button {
                background-color: $btn_color;
                margin: auto;
                width: 210px;
                padding: 20px 30px;
                border-radius: 8px;
                text-align: center;

                a {
                    text-decoration: none;
                    color: $bckground;
                }
            }

            .button:hover {
                background-color: lighten($btn_color, 10%);
                transition: 0.4s;
            }
        }
    }
}

.agile-teams-one {
    width: 100%;
    height: auto;
    background-color: $bckground;
    margin-bottom: 70px;

    .agile-container {
        width: 70%;
        margin: 0 auto;
        height: inherit;
        margin-top: 60px;
        margin: auto;

        .link {
            position: relative;
            right: -750px;
            bottom: 20px;
            text-decoration: none;
            color: $see_how_col;
            font-size: 18px;
        }

        .holder {
            margin-top: 100px;

            .heading {
                display: grid;
                grid-template-columns: 1fr;
                width: 30%;
                height: auto;
                font-family: Arial, Helvetica, sans-serif;

                h1 {
                    font-size: 48px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 22px;
                    width: 85%;
                }
            }

            .control {
                width: 100%;

                .content {
                    width: 100%;
                    margin: auto;

                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    width: 100%;
                    gap: 3em;
                    margin: 50px auto;

                    img {
                        margin: auto;
                    }

                    .explain {
                        margin: auto;
                    }

                    .texts {
                        margin: auto;
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr 1fr;
                        grid-auto-rows: 300px;

                        .text {
                            margin: 20px auto;
                            border-left: solid 1px $border_color;
                            padding: 10px;
                            font-family: Arial, Helvetica, sans-serif;

                            h1 {
                                font-size: 28px;
                                margin-bottom: 5px;
                            }

                            p {
                                line-height: 1.3em;
                            }
                        }
                    }
                }
            }
        }
    }
}

.agile-teams {
    width: 100%;
    height: auto;
    background-color: $bckground;
    margin: 80px auto;

    .container {
        width: 70%;
        margin: 0 auto;
        height: inherit;
        margin: 60px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        margin: auto;

        .center {
            h1 {
                margin-top: 200px;
                padding: 10px 0 !important;
            }

            p {
                padding: 10px 0 !important;
                margin: 0;
            }
        }

        .text {
            margin-top: 90px;
            font-family: Arial, Helvetica, sans-serif;

            h1 {
                width: 70%;
                font-size: 46px;
                padding-bottom: 30px;
            }

            img {
                margin: 0;
            }

            p {
                width: 70%;
                padding: 10px;
                line-height: 1.4em;
                letter-spacing: 2px;
            }
        }

        img {
            margin-top: 90px;
        }
    }
}

.agile-teams-two {
    width: 100%;
    height: auto;
    background-color: $backgr_pricing;
    margin: 80px auto;

    .container {
        width: 70%;
        height: inherit;
        margin: 60px auto;

        .heading {
            text-align: left;
            padding: 100px 0;

            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 54px;
            }
        }

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3em;
            grid-auto-rows: 600px;

            .card {
                font-family: Arial, Helvetica, sans-serif;
                text-align: left;

                img {
                    height: 300px;
                    width: auto;
                }

                h3 {
                    margin: 10px 0;
                }

                h1 {
                    margin: 20px 0;
                    font-size: 26px;

                    width: 80%;
                }

                .button {
                    background-color: $btn_color;
                    width: 200px;
                    padding: 20px 20px;
                    border-radius: 8px;
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: $bckground;
                    }
                }

                .button:hover {
                    background-color: lighten($btn_color, 10%);
                    transition: 0.4s;
                }
            }
        }
    }
}

.center-img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin: 50px 0;
    }
}

.how_it_works {
    text-align: center;
    background-color: $bckground;

    .button {
        margin-top: 40px;
        background-color: $bckground;
        width: 240px;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        border: 2px solid $btn_color;

        a {
            text-decoration: none;
            color: $btn_color;
        }
    }
}

.how-sect-one {
    background-color: $product_bc;

    .container {
        width: 70%;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;

        h4 {
            padding-top: 60px;
        }

        .content-holder {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 6em;
            grid-auto-rows: auto;

            .text-content {
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                gap: 3em;

                h3 {
                    font-size: 32px;
                }

                p {
                    font-size: 22px;
                }

                .control {
                    h1 {
                        margin-top: 30px;
                        font-size: 48px;
                    }

                    h3 {
                        margin-top: 20px;
                        font-size: 32px;
                    }
                    p {
                        margin-top: 20px;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

.bc-blue {
    margin: 0 auto;
    background-color: $howto_bc_blue;

    .holder {
        padding-top: 60px;
        margin-top: 0 !important;
    }

    .control {
        .content {
            margin-bottom: 0px !important;
        }
    }
}

.bc-pink {
    margin: 0 !important;
    background-color: $howto_bc_pink;

    .holder {
        padding-top: 60px;
        margin-top: 0 !important;
    }

    .control {
        .content {
            margin-bottom: 0px !important;
        }
    }
}

.bc-purple {
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $howto_bc_purple;

    .holder {
        padding-top: 60px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 0 !important;
    }

    .stickers {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3em;
        grid-auto-rows: minmax(300px, auto);

        .sticker {
            padding: 20px 40px;
        }
    }
}

.bc-lightblue {
    background-color: $howto_bc_lightblue;
}

.bc-white {
    background-color: $bckground;

    padding-bottom: 80px;
}

.design {
    background-color: $bckground;
}

.banner {
    background-color: $slider_color;

    .container {
        width: 70%;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;

        .texts {
            display: flex;
            align-items: center;
            padding: 80px 0;
            margin: 0 90px;

            .text {
                display: flex;
                flex-direction: column;

                h1 {
                    width: 70%;
                    margin-bottom: 80px;
                }

                h4 {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.present {
    background-color: $howto_bc_blue;
    padding-bottom: 50px;

    .container {
        width: 70%;
        margin: 0 auto;

        .heading {
            padding-top: 50px;

            h1 {
                font-size: 48px;
                margin-bottom: 20px;
            }
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-family: Arial, Helvetica, sans-serif;

            .texts-2 {
                margin-top: 120px !important;
            }

            .texts {
                margin-top: 50px;

                h1 {
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.heading-1 {
    width: 80% !important;
}

.padding-1 {
    padding-bottom: 50px !important;

    .stickers {
        display: grid;
        grid-template-columns: 1f 1fr 1fr;
        gap: 1em;
    }
}

.feedback {
    background-color: $backgr_pricing;

    .container {
        width: 70%;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 50px;

        .heading {
            font-size: 48px;
            padding-top: 50px;
        }

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2em;

            .card {
                h1 {
                    margin: 10px 0;
                }

                p {
                    margin: 10px 0;
                    width: 70%;
                }
            }
        }
    }
}

.product-info {
    font-family: Arial, Helvetica, sans-serif;
    margin: 90px auto;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        background-color: $howto_bc_blue;
        padding: 90px 0;

        .wrapper {
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin: 40px auto;
            text-align: center;

            h1 {
                width: 90%;
                font-size: 78px;
                letter-spacing: 3px;
            }
        }
    }
}

.white {
    background-color: $bckground;
}

.margin-integrations {
    margin-top: 80px !important;
    width: 60%;
}

.img-integrations {
    position: relative;
    right: 150px;
}

.plugins {
    width: 75%;
    margin: 0 auto;

    .container {
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 80px;

        h1 {
            font-size: 38px;
        }

        .stickers {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 5em;
            align-items: center;

            .sticker {
                padding: 60px 0;

                h1 {
                    font-size: 26px;
                    padding: 20px;
                }

                p {
                    font-size: 20px;
                    padding: 20px;
                }
            }
        }
    }
}

.plugins {
    .container{
        .colaboration{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 8em;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.txt-integrations{
    text-align: start;
    padding-top: 70px;
}